@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Herr+Von+Muellerhoff&display=swap');

@font-face {
    font-family: 'Klaristha';
    src: url("fonts/klaristha/Klaristha.woff2") format("woff2");

}


:root {
    font-size: 130%;
}



body {
    font-family: 'baskerviella', serif;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0;
    background-color: #09111F;
}
ol {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1rem;
    margin-top: -2rem;
    font-size: 1.6rem;
    
}

li {
    color: #ffffff; 
    border-radius: 1rem;
    display: inline-flex;
    padding: 0.3rem 0.7rem;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
/* ol {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.9rem;
    margin-top: -3rem;
    
}

li {
    color: #A0BBC1; 
    border-radius: 1rem;
    display: inline-flex;
    padding: 0.125rem 0.5rem;
    gap:3rem;
} */


section:nth-child(1) { 
    color:#A0BBC1; 

/* background: linear-gradient(90deg, #2D424B 0%, rgba(10, 16, 30, 0.00) 66.26%); */
    /* background: linear-gradient(to right, #1440c4, #443232);; */
    padding: 4rem;
    padding-bottom: 1rem;}
    

section:nth-child(2) { 
    color:#A0BBC1; 
    background-color: #09111F;
    padding: 4rem;
    padding-bottom: 1rem;}
    
.title{
    position: relative;
    padding: 8rem;
    place-items: center;
    margin: 0 auto;
    display: block;

}

.block {
    font-family: 'Herr Von Muellerhoff';
    font-size: 9rem;
    line-height: 1;
    text-align: left;
    margin-left: -1rem;

}


.script{
    font-family: 'Klaristha', cursive;
    font-size:5rem;
    color: #A0BBC1;
    /* display: inline-block; */

    

} 

.author{
    display: inline-block;
    color: #A0BBC1;
    font-weight: 200;
    font-size: 1rem;
    margin-left: 30rem;    
    margin-bottom: 2rem;
    margin-top: -9srem;

}


blockquote {
    inline-size: 90%;
    font-size: 2rem;
    color: #3d3d3d;
    text-align: left; 
    margin: 3rem auto;  
    margin-top: 7rem;
    line-height: 1.6;
    margin-bottom: 5rem;
    background-color: #2ce7ac;
    border-radius: 2rem;
    padding: 2rem 4rem;
    padding-left: 2rem;
    
}



article {
  font-weight: 200;     
  margin: 0 auto;        
  text-align: left;   
  padding: 0rem;   
  padding-bottom: 5rem;
  margin-top: 2rem;
}

article p {
    padding-top: 2rem;
    font-size: 2rem;

  margin: 1.2rem 0;
  line-height: 1.9;
  margin-top: 2rem;
}
.body-text{
    margin-top:1rem;
}




.link {
    color:rgb(194, 170, 197);
}

.link:hover {
    color: #EC7040;
}

.rub{
    font-family: 'klaristha', cursive;
    color: #2ce7ac;
    font-size: 3rem;

}

.rib{
    font-family: 'rubik glitch', cursive;
    color: #3E3335;
}

