@font-face {
    font-family: "Verona Serial";
    src: url("fonts/verona-serial/VeronaSerial-Medium.woff2") format("woff2");
    font-weight: 500;

}

@font-face {
    font-family: "American Typewriter";
    src: url("fonts/american-typewriter/AmericanTypewriter-Regular.woff2") format("woff2");
    font-weight: 500;
}

:root {
    background-color: #F8F3E7;
    font-size: 100%;
    font-family: "American Typewriter";

    /* font-family: 'IBM Plex Mono', monospace; */

    cursor: url("images/cursor2.svg") 0 0, auto !important;
    --color-orange: #ff5e3a;
    --color-blue: #4E6ABE;
    --color-green: #0DA04F;
    --color-black: #252525;
}

body {
    cursor: url("images/cursor2.svg") 0 0, auto !important;
    font-size: 1.2rem;
    line-height: 1.8;
}



.navbar {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    width: 100%;
    background: #F8F3E7;          
    border: 2px solid var(--color-black);
    position: sticky;
    top: 0;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-black);  
    border-right: 3px solid var(--color-black);
    transition: 0.25s ease;     
}


.home:hover {
    background-color: var(--color-black);
    color: #F8F3E7;
}

.red:hover {
    background-color: var(--color-orange);
    color: #F8F3E7;
}

.green:hover {
    background-color: var(--color-green);
    color: #F8F3E7;
}

.blue:hover {
    background-color: var(--color-blue);
    color: #F8F3E7;
}


@media (width > 600px) {
    .navbar {
        height: 60px;
    }

    .nav-item {
        font-size: 13px;
    }
}


h1 {

    font-family: "Verona Serial", serif;
    font-weight: 500;
    font-size: 4rem;
    line-height: 3rem;
    text-align: left;
    margin-left: 1rem;
    margin-top: 7rem;
    color: #252525;
}

@media (width > 600px) {
    h1 {
        font-size: 7rem;
        text-align: center;
        margin-top: 10rem;
    }
}

.image {
 background-image: url("images/surf.jpg");
}

.hero {
    margin-top: 7rem;
    margin-left: 2rem;
}

.hero-cursor {
    width: 90px;
    right: 4rem;
    top: 40%;
    transform: translateY(-50%);
    margin-left: 13rem;
    margin-top: -0.6rem;
}

@media (width > 600px) {
    .hero-cursor {
        margin-top: 2.7rem;
        margin-left: 67rem;
    }
}


h2 {
    font-size: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 0.3rem;
    text-align: left;

}

@media (width > 600px) {
    h2 {
        inline-size: 50%;
        margin: 2rem auto 0;
        margin-top: 6rem;
        font-size: 1.2rem;

    }
}

.landing-shapes {
    position: relative;
    margin-top: 1rem;
    height: 300px;

}

.landing-shapes .shape {
    filter: drop-shadow(7px 7px 10px rgba(69, 69, 69, 0.8));
    position: absolute;
}

.landing-shapes .circle {
    transform: scale(0.6);
    top: 0;
    left: 2rem;
}

.landing-shapes .square {
    transform: scale(0.6);
    top: 40px;
    left: 150px;
}

.landing-shapes .triangle {
    transform: scale(0.6);
    top: 90px;
    left: 40px;
}

@media (width > 600px) {
    .landing-shapes {
        width: 400px;
        margin: 2rem auto 0;
        margin-top: 0.2rem;
    }
}


.texts-shapes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}


.text-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    text-align: left;
}

@media (width > 600px) {
    .texts-shapes {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
        margin-bottom: 20rem;
    }
}


.shape {
    /* background-image: url("images/texture2.jpg"); */
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #fff;
    font-family: "Verona Serial", serif;
    font-weight: 700;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}


.circle {
    margin-top: 3rem;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: var(--color-orange);
}


.square {
    margin-top: 3rem;
    width: 210px;
    height: 210px;
    background-color: var(--color-green);
}

.triangle {
    margin-top: 3rem;
    width: 250px;
    height: 210px;
    background-color: var(--color-blue);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    align-items: flex-end;
    padding-left: 1rem;
}

.title-ugly {
    margin-top: 2rem;
    color: var(--color-orange);
    text-decoration: underline;
}

.title-function {
    margin-top: 2rem;
    color: var(--color-green);
    text-decoration: underline;
}

.title-speculative {
    margin-top: 2rem;
    color: var(--color-blue);
    text-decoration: underline;
}




.summary-ugly {
    color: var(--color-black);
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1rem;
}

.summary-function {
    color: var(--color-black);
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1rem;
}

.summary-speculative {
    color: var(--color-black);
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1rem;
}




footer {
    width: 100%;
    height: 100px;
    background-color: #F8D9D4;
    color: #252525;
    font-size: 1rem;
    /* top: 0; */
    left: 0;
}




* {
    cursor: url("../images/cursor.png") 0 0, auto !important;

}