@font-face {
    font-family: "Verona Serial";
    src: url("fonts/verona-serial/VeronaSerial-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "American Typewriter";
    src: url("fonts/american-typewriter/AmericanTypewriter-Regular.woff2") format("woff2");
    font-weight: 500;
}

:root {
    background-color: #F8F3E7;
    font-size: 100%;
    font-family: "American Typewriter";

    /* font-family: 'IBM Plex Mono', monospace; */
    cursor: url("images/cursor2.svg") 0 0, auto !important;
    --color-orange: #ff5e3a;
    --color-blue: #4E6ABE;
    --color-green: #0DA04F;
    --color-black: #252525;
}


body {
    cursor: url("images/cursor2.svg") 0 0, auto !important;
    font-size: 1.2rem;
    line-height: 1.8;
}



.navbar {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    width: 100%;
    background: #F8F3E7;          
    border: 2px solid var(--color-black);
    position: sticky;
    top: 0;
    z-index: 10;  
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-black);  
    border-right: 3px solid var(--color-black);
    transition: 0.25s ease;     
}


.home:hover {
    background-color: var(--color-black);
    color: #F8F3E7;
}

.orange:hover {
    background-color: var(--color-orange);
    color: #F8F3E7;
}

.green:hover {
    background-color: var(--color-green);
    color: #F8F3E7;
}

.blue:hover {
    background-color: var(--color-blue);
    color: #F8F3E7;
}


@media (width > 600px) {
    .navbar {
        height: 60px;
    }

    .nav-item {
        font-size: 13px;
    }
}

@media (max-width: 600px) {

    .navbar {
        height: 50px;
    }


    .nav-item {
        font-size: 0;
        position: relative;
        border-right: 2.5px solid var(--color-black);
    }


    .nav-item:last-child {
        border-right: none;
    }


    .nav-item::before {
        content: "";
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        background-size: contain;
    }


    .nav-item.home::before {
        background-image: url("images/cursor2.svg");
        width: 4rem;
        height: 4rem;
    }


    .nav-item.orange::before {
        background: var(--color-black);
        border-radius: 50%;
    }

  
    .nav-item.green::before {
        background: var(--color-black);
    }


    .nav-item.blue::before {
        width: 0;
        height: 0;
        border-left: 0.9rem solid transparent;
        border-right: 0.9rem solid transparent;
        border-bottom: 1.6rem solid var(--color-black);
        background: none;
    }


    .nav-item:hover {
        background: none;
        color: transparent;
    }

    .landing-shapes {
        background: none;
        color: transparent;

    }
}



.image {
    background-image: url("images/surf.jpg");
    background-size: 250%;   
   background-position: 96% 100%;
    padding: 0rem 2rem 20rem;
    padding-top: 2rem;
}

/* Mobile: stacked */
.image {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

@media (width > 600px) {
    .image {
    
        padding-left: 5rem;
         background-size: 100%; 
         background-position: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}


.hero {
    position: relative;
}

/* Title */
h1 {
    font-family: "Verona Serial", serif;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 3rem;
    color: #252525;
    padding-top: 2rem;
    /* margin-top: 2rem; */
    margin: 0;
}

@media (width > 600px) {
    h1 {
        inline-size: 2rem;
        font-size: 7rem;
        line-height: 6rem;
    }
}

/* Right column (shapes + paragraph) */
.hero-right {
    margin-left: 2rem;
    max-width: 17rem;
}

h2 {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    /* margin: 2rem 0 0; */
    text-align: left;
}

@media (width > 600px) {
    h2 {

        font-size: 1.05rem;
    }
}


.color-text-orange {
    background-color: var(--color-orange);
    color: #F8F3E7;
}

.color-text-green {
    background-color: var(--color-green);
    color: #F8F3E7;
}

.color-text-blue {
    background-color: var(--color-blue);
    color: #F8F3E7;
}



.hero-cursor {
    position: absolute;
    width: 80px;
    top: 84%;
    left: 60%;
    transform: translate(-50%, -50%);
}

@media (width > 600px) {
    .hero-cursor {
        display: none;

    }
}


.landing-shapes {
    transform: scale(0.2); 
    position: relative;
    margin-top: -8rem;
    height: 200px;
    margin-left: 17rem;

}

.landing-shapes .shape {
    filter: drop-shadow(7px 7px 10px rgba(69, 69, 69, 0.8));
    position: absolute;
}

.landing-shapes .circle {
    transform: scale(0.6);
    margin-top: 1rem;
    left: 2rem;
}

.landing-shapes .square {
    transform: scale(0.6);
    top: 40px;
    left: 150px;
}

.landing-shapes .triangle {
    transform: scale(0.6);
    top: 90px;
    left: 40px;
}

@media (width > 600px) {
    .landing-shapes {
        width: 400px;
        margin: 2rem auto 0;
        margin-top: 0.2rem;
    }
}


.texts-shapes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}


.text-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    text-align: left;
}

@media (width > 600px) {
    .texts-shapes {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
        margin-bottom: 20rem;
    }
}


.shape {
    /* background-image: url("images/texture2.jpg"); */
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #fff;
    font-family: "Verona Serial", serif;
    font-weight: 700;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}


.circle {
    /* margin-top: 3rem; */
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: var(--color-orange);
}
@media (width > 600px) {
    .circle {
        margin-top: 3rem;
    }
}


.square {
    margin-top: 3rem;
    width: 210px;
    height: 210px;
    background-color: var(--color-green);
}

.triangle {
    margin-top: 3rem;
    width: 250px;
    height: 210px;
    background-color: var(--color-blue);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    align-items: flex-end;
    padding-left: 1rem;
}

.title-ugly {
    margin-top: 2rem;
    color: var(--color-orange);
    text-decoration: underline;
}

.title-function {
    margin-top: 2rem;
    color: var(--color-green);
    text-decoration: underline;
}

.title-speculative {
    margin-top: 2rem;
    color: var(--color-blue);
    text-decoration: underline;
}




.summary-ugly {
    color: var(--color-black);
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1rem;
}

.summary-function {
    color: var(--color-black);
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1rem;
}

.summary-speculative {
    color: var(--color-black);
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .landing-shapes {
        display: none;
    }
}



footer {
    width: 100%;
    height: 100px;
    background-color: #F8D9D4;
    color: #252525;
    font-size: 1rem;
    /* top: 0; */
    left: 0;
}




* {
    cursor: url("../images/cursor.png") 0 0, auto !important;

}