@font-face {
    font-family: "Verona Serial";
    src: url("fonts/verona-serial/VeronaSerial-Medium.woff2") format("woff2");
    font-weight: 500;
    
}

:root {
     background-image: url("images/texture.jpg");
    background-color: #ffffff;
    font-size: 100%;
    background-color: #F8F3E7;
    font-family: 'IBM Plex Mono', monospace;
    cursor: url("images/cursor.png") 0 0, auto !important;
}

body {
    cursor: url("images/cursor.png") 0 0, auto !important;
    font-size: 1.2rem;
    line-height: 1.6;
    /* padding: 3rem; */

.top-bar {
  width: 100%;
  height: 30px;    
  background-color: #F3CF4F; 
  top: 0;
  left: 0;
}


h1{

 font-family: "Verona Serial", serif;
   font-weight: 500;
   font-size: 5rem;
   line-height: 5rem;
   /* inline-size: 2rem; */
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;
}



h2 {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;

}

.red{
    color: #CD3435;
}

.blue {
    color:#185AAD;
}

.green {
    color:#22A95A; 
}



 .texts-shapes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;          
  margin-top: 4rem;
  margin-bottom: 10rem;
}


.shape {
  color: #fff;
  font-family: "Verona Serial", serif;  
  font-weight: 700;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shape p {
  margin: 0;
  line-height: 1.2;
  font-size: 1.8rem;
}


.circle {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: #CD3435;        
}

.square {
  width: 210px;
  height: 210px;
  background: #22A95A;     
}

.triangle {
  width: 250px;
  height: 210px;
  background: #185AAD;      
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  align-items: flex-end;  
  padding-left: 1rem;    
}

footer {
  width: 100%;
  height: 100px;    
  background-color: #F3CF4F; 
  font-size: 1rem;
  /* top: 0; */
  left: 0;
}

}


* {
  cursor: url("../images/cursor.png") 0 0, auto !important;
}
