@font-face {
    font-family: "Verona Serial";
    src: url("fonts/verona-serial/VeronaSerial-Medium.woff2") format("woff2");
    font-weight: 500;

}


:root {
    font-size: 100%;
    background-color: #F8F3E7;
    font-family: "American Typewriter";
    cursor: url("images/cursor2.svg") 0 0, auto !important;

}


.image-split {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 13rem;
}

.split-left,
.split-right {
    width: 50%;
    height: 100%;
    position: relative;
}

.split-left {
    background-image: url("../images/surf.jpg");
    background-size: 400%;
    background-position: 3% 100%;
}

.split-right {
    background-color: var(--color-blue);
}


.triangle-big,
.triangle-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7.5rem;
    height: 7.5rem;
    max-width: 190px;
    max-height: 190px;
}


.triangle-big {
    background-color: var(--color-blue);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


.triangle-image {
    background-image: url("../images/surf.jpg");
    background-size: 570%;
    background-position: 66% 80%;
    background-repeat: no-repeat;
    background-color: var(--color-blue);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


.image-band {
    background-color: var(--color-blue);
    padding: 4rem 0;
    margin: 4rem 0;
}

.image-band-inner {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;



    background-color: #F8F3E7;


    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}

@media (width > 600px) {


    .triangle-big,
    .triangle-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12rem;
        height: 12rem;
        max-width: 190px;
        max-height: 190px;
    }


    .image-split {
        height: 17rem;
    }

    .split-left {
        background-size: 300%;
        background-position: 3% 100%;

    }


}

@media (max-width: 600px) {
    .nav-item.blue::before {
        width: 0;
        height: 0;
        border-left: 0.9rem solid transparent;
        border-right: 0.9rem solid transparent;
        border-bottom: 1.6rem solid var(--color-blue);
        background: none;
    }
}



.row {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.label-title {
    font-size: 0.6rem;
    margin-left: 1.2rem;
    font-weight: 600;
    margin-top: 7.4rem;
    color: var(--color-blue);
}


.label-author {
    font-size: 0.6rem;
    margin-left: 1.2rem;
    font-weight: 600;
    margin-top: 2.4rem;
    color: var(--color-blue);

}

.label-quote {
    font-size: 0.6rem;
    margin-left: 1.2rem;
    font-weight: 600;
    margin-top: 2.3rem;
    color: var(--color-blue);

}

@media (width > 600px) {
    .label-title {
        margin-left: 15rem;
        font-size: 120%;
        margin-top: 8.2rem;

    }

    .label-author {
        margin-left: 15rem;
        font-size: 120%;

    }

    .label-quote {
        margin-left: 15rem;
        font-size: 120%;
        margin-top: 5rem;
    }
}

h1 {
    border-block-start: 1px dashed var(--color-blue);
    font-family: "Verona Serial", serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1;
    max-inline-size: 100vw;
    margin-top: 5rem;
    text-align: left;
    color: var(--color-blue);
    margin-right: 1rem;
    margin-left: -0.3rem;
}

@media (width > 600px) {
    h1 {
        font-size: 7rem;
        margin-left: 20rem;
        inline-size: 50%;
    }
}


body {
    font-family: "American Typewriter";
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0rem;
}



.author {
    display: inline-block;
    color: var(--color-blue);
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;

}

@media (width > 600px) {
    .author {
        font-size: 1.6rem;
        margin-left: 20rem;
        margin-top: 2rem;

    }
}


#first-bq {
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-blue);
    text-align: left;
    margin-left: 0rem;
    margin-top: 2rem;
    line-height: 1.6;
    margin-right: 1rem;
    border-block-start: 1px dashed var(--color-blue);
    border-block-end: 1px dashed var(--color-blue);
}

@media (width > 600px) {
    #first-bq {
        font-size: 1.6rem;
        margin-left: 20rem;
        margin-top: 4rem;
        inline-size: 50%;
    }
}

.link {
    text-decoration: underline;

}

#second-bq {
    border-inline-start: 2px dashed var(--color-blue);
    padding-inline-start: 2rem;
    margin-inline-start: 1.5rem;
    inline-size: 85%;
    padding-left: 1rem;
    font-size: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 600;
    color: #185AAD;
    line-height: 1.9;
}

@media (width > 600px) {
    #second-bq {
        font-size: 1.2rem;
        margin-top: 4rem;

    }
}


p {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 5rem;
    line-height: 1.9;

}

.body-text {
    font-weight: 400;
    margin-top: 8rem;
    line-height: 1.6;
    text-align: left;
    margin-left: 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
}




@media (width > 600px) {
    .body-text {
        font-size: 18px;
        inline-size: 45%;
        text-align: left;
        margin: 0 auto;
        hyphens: auto;
        margin-top: 12rem;
    }
}
  

.color-text {
    background-color: rgb(78, 106, 190, 0.90);
    color: #F8F3E7;

}

.footer {
    background-color: var(--color-blue);
    color: #F8F3E7;
    margin-top: 15rem;
}

* {
    cursor: url("../images/cursor2.svg") 0 0, auto !important;
}