@font-face {
    font-family: "Verona Serial";
    src: url("fonts/verona-serial/VeronaSerial-Medium.woff2") format("woff2");
    font-weight: 500;
    
}


:root {
    font-size: 130%;
    background-color: #F8F3E7;
    font-family: 'IBM Plex Mono', monospace;

    
}

.row {
    max-width:100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    width: 100%;
    height: 70px; 
    border: 3px solid #ffffff;
    position: sticky;
    top: 0;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color:  #e0e0e0;
}

.home {
    background-color: #F2CD50;
    color:#000000;
    border-right: 3px solid #ffffff;
}

.red {
    background-color: #CD3435;
      border-right: 3px solid #ffffff;
}

.green {
    background-color: #22A95A;
      border-right: 3px solid #ffffff;
}

.blue {
    background-color: #185AAD;}


.label-title{
   
    margin-left: 2rem;
    font-weight: 400;
    margin-top: 15rem;
    color: #CD3435; 
}

.label-author{
    margin-left: 2rem;
    font-weight: 400;
    margin-top: 3rem;
    color: #CD3435;
    
}

.label-blockquote{
    margin-left: 2rem;
    font-weight: 400;
    margin-top: 15rem;
    color: #CD3435;
    
}

.label-paragraph{
    margin-left: 2rem;
    font-weight: 400;
    margin-top: 15rem;
    color: #CD3435;
    
}
h1 {
    border-block-start: solid #000000 0.2rem;
    font-family: "Verona Serial", serif;
    font-weight: 500;
    font-size: 6rem;
    line-height: 1;      
    max-inline-size: 100vw; 
    padding-top: 2rem;
    margin-top: 10rem;
    text-align: left;
    color: #CD3435;
}


body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0rem;
}



.author{
    display: inline-block;
    color: #191919;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 15rem;
              
}

#first-bq{
    font-weight: 600;
    font-size: 1.9rem;
    color: #191919;
    text-align: left;
    margin-left: 0rem;
    margin-top: 4rem;
    line-height: 1.6;
    margin-right: 3rem;
    border-block-start: solid #3c3c3c 0.2rem;
    border-block-end: solid #3c3c3c 0.2rem;
}

.link {
     text-decoration: underline;

}

#second-bq{
    border-inline-start:8px dashed #CD3435;
    padding-inline-start:2rem;
    margin-inline-start:3rem;
    inline-size: 85%;
    /* font-weight: 400; */
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 500;
     color: #CD3435;
}




p {
  text-align: left;
  margin-top: 5rem;
  margin-bottom: 5rem;
  line-height: 1.8;

} 

.body-text{
    font-weight: 400;
    font-size: 1.8rem;
    margin-top:15rem;
    line-height: 1.6;
    text-align: left;
    margin-left: 3rem;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.color-text{
    background-color: #CD3435;
    color: #F8F3E7;

}

.footer{
    background-color: #CD3435;
    margin-top: 20rem;
    padding: 5px 0;
    color: #F8F3E7;
}

