@font-face {
    font-family: "Verona Serial";
    src: url("fonts/verona-serial/VeronaSerial-Medium.woff2") format("woff2");
    font-weight: 500;

}

@font-face {
    font-family: "American Typewriter";
    src: url("fonts/american-typewriter/AmericanTypewriter-Regular.woff2") format("woff2");
    font-weight: 500;
}


:root {
    font-size: 100%;
    background-color: #F8F3E7;
    font-family: "American Typewriter";
    cursor: url("images/cursor.png") 0 0, auto !important;
}


.image-split {
  display: flex;
  flex-direction: row; 
  width: 100%;
  height: 13rem; 
}


.split-left,
.split-right {
  width: 50%;
  height: 100%;
  position: relative;
}


.split-left {
  background-image: url("../images/surf.jpg");
  background-size: 400%;  
  background-position: 3% 100%;
}


.split-right {
  background-color: #ff5e3a;
}


.circle-big,
.circle-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}


.circle-big {
  width: 8rem;
  height: 8rem;
  max-width: 190px;
  max-height: 190px;
  background-color: #ff5e3a;
}


.circle-image {
  width: 8rem;
  height: 8rem;
  max-width: 190px;
  max-height: 190px;
  background-image: url("../images/surf.jpg");
  background-size: 570%;   
  background-position: 66% 80%;
}


@media (width > 600px) {
  .image-split {
    height: 60vh;
  }

  .circle-big {
    width: 20rem;
    height: 20rem;
  }

  .circle-image {
    width: 20rem;
    height: 20rem;
  }
}


@media (max-width: 600px) {
    .nav-item.red::before {
        background: var(--color-orange);
        border-radius: 50%;
    }
}


.row {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.label-title {
    font-size: 0.6rem;
    margin-left: 1.2rem;
    font-weight: 400;
    margin-top: 6rem;
    color: var(--color-orange);
}

.label-author {
    font-size: 0.6rem;
    margin-left: 1.2rem;
    font-weight: 400;
    margin-top: 2.5rem;
    color: var(--color-orange);

}

.label-quote {
    font-size: 0.6rem;
    margin-left: 1.2rem;
    font-weight: 400;
    margin-top: 9rem;
    color: var(--color-orange);

}

@media (width > 600px) {
    .label-title {
        margin-left: 10rem;
        font-size: 120%;
        margin-top: 13rem;

    }

    .label-author {
        margin-left: 10rem;
        font-size: 120%;

    }

    .label-quote {
        margin-left: 10rem;
        font-size: 120%;
        margin-top: 10rem;
    }
}



h1 {
    border-block-start: 1px dashed var(--color-orange);
    font-family: "Verona Serial", serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1;
    max-inline-size: 100vw;
    margin-left: -0.3rem;
    /* padding-top: 2rem; */
    margin-top: 5rem;
    text-align: left;
    color: var(--color-orange);
    margin-right: 1rem;
}

@media (width > 600px) {
    h1 {
        font-size: 7rem;
        margin-left: 24rem;
        margin-top: 10rem;
        inline-size: 60%;
    }
}


body {
    font-family: "American Typewriter";
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0rem;
}



.author {
    display: inline-block;
    color: var(--color-orange);
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;

}

@media (width > 600px) {
    .author {
        font-size: 1.6rem;
        margin-left: 24rem;
        margin-top: 2rem;

    }
}


#first-bq {
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-orange);
    text-align: left;
    margin-left: 0rem;
    margin-top: 2rem;
    line-height: 1.6;
    margin-right: 1rem;
    border-block-start: 1px dashed var(--color-orange);
    border-block-end: 1px dashed var(--color-orange);
}

@media (width > 600px) {
    #first-bq {
        font-size: 1.6rem;
        margin-left: 24rem;
        margin-top: 4rem;
        inline-size: 60%;
    }
}

.link {
    text-decoration: underline;

}

#second-bq {
    border-inline-start: 2px dashed var(--color-orange);
    padding-inline-start: 2rem;
    margin-inline-start: 1.5rem;
    inline-size: 85%;
    padding-left: 1rem;
    /* font-weight: 400; */
    font-size: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 500;
    color: var(--color-orange);
}

@media (width > 600px) {
    #second-bq {
        font-size: 1.2rem;
        margin-top: 4rem;
        /* inline-size: 60%; */
    }
}


p {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 5rem;
    line-height: 1.8;

}

.body-text {
    font-weight: 400;
    /* font-size: 1.2rem; */
    margin-top: 8rem;
    line-height: 1.6;
    text-align: left;
    margin-left: 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
}


@media (width > 600px) {
    .body-text {
        font-size: 17px;
        inline-size: 45%;
        text-align: left;
        margin: 0 auto;
        hyphens: auto;
        margin-top: 15rem;
    }
}


.color-text {
    background-color: var(--color-orange);
    color: #F8F3E7;

}

.footer {
    background-color: var(--color-orange);
    margin-top: 20rem;
    padding: 5px 0;
    color: #F8F3E7;
}

* {
    cursor: url("../images/cursor.png") 0 0, auto !important;
}