@font-face {
    font-family: "Verona Serial";
    src: url("fonts/verona-serial/VeronaSerial-Medium.woff2") format("woff2");
    font-weight: 500;
    
}


:root {
    font-size: 130%;
    background-color: #F8F3E7;
    
}
/* body{
    width:100vh;
} */

.row {
    max-width:100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
/* .text{
    max-width: 75vw;
} */

.label-title{
   
    margin-left: 2rem;
    font-weight: 400;
    margin-top: 15rem;
    color: #CD3435;
    
}

.label-author{
    margin-left: 2rem;
    font-weight: 400;
    margin-top: 3rem;
    color: #CD3435;
    
}

.label-blockquote{
    margin-left: 2rem;
    font-weight: 400;
    margin-top: 15rem;
    color: #CD3435;
    
}

.label-paragraph{
    margin-left: 2rem;
    font-weight: 400;
    margin-top: 15rem;
    color: #CD3435;
    
}
h1 {
    border-block-start: solid #000000 0.2rem;
    font-family: "Verona Serial", serif;
    font-weight: 500;
    font-size: 6rem;
    line-height: 1;      
    max-inline-size: 100vw; 
    padding-top: 2rem;
    /* margin-left: 15rem; */
    /* margin-right: 10rem; */
    margin-top: 10rem;
    text-align: left;
    color: #CD3435;
}

ol {
    font-family: helvetica;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    font-size: 1.2rem;
    max-width:100vw;
}

.left-bar {
    font-family: helvetica;
    display: flex;
    font-weight: bold;
}

.right-bar {
    font-family: helvetica;
    display: flex;
    gap: 1rem;
}



body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0rem;
}





.author{
    display: inline-block;
    color: #191919;
    font-weight: 400;
    font-size: 1.8rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 15rem;
              
}

#first-bq{
    font-weight: 600;
    font-size: 1.9rem;
    color: #191919;
    text-align: left;
    /* inline-size: 30rem; */
    /* margin-left: 15rem; */
    margin-left: -4rem;
    margin-top: 4rem;
    line-height: 1.6;
    /* margin-bottom: -9rem; */
    margin-right: 3rem;
    border-block-start: solid #3c3c3c 0.2rem;
    border-block-end: solid #3c3c3c 0.2rem;
}

#second-bq{
    border-inline-start:4px dashed #000;
    padding-inline-start:2rem;
    margin-inline-start:6rem;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}




p {
  text-align: left;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6;
  inline-size: 32rem;

  margin-left: 15rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-right: 3rem;

}


.color-text{
    background-color: #CD3435;
    color: #F8F3E7;

}

