@font-face {
    font-family: "Verona Serial";
    src: url("fonts/verona-serial/VeronaSerial-Medium.woff2") format("woff2");
    font-weight: 500;
    
}


:root {
    font-size: 130%;
    background-color: #F8F3E7;
    
}
.row{
    display:grid;
    grid-template-columns: 1fr 3fr;
}
#test{
    display:flex;
    flex-direction: row;
}
.bq{
    margin-left:-.5rem;
}


h1 {
    border-block: solid #000000 0.2rem;
    font-family: "Verona Serial", serif;
    font-weight: 500;
    font-size: 6rem;
    line-height: 1;  
    text-align: left;
    color: #CD3435;  
}