@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@font-face {
    font-family: 'SF Mono';
    src: url("fonts/sf-mono/SFMonoMedium.woff") format("woff");

}
@font-face {
    font-family: 'SF Mono';
    src: url("fonts/sf-mono/SFMonoRegular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: 'SF Mono';
    src: url("fonts/sf-mono/SFMonoLight.woff") format("woff");
    font-weight: 400;

}
:root {
    font-size: 130%;
}


body {
    font-family: 'helvetica neue', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0rem;
}


ol {
    font-family: 'SF Mono', monospace;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1rem;
    margin-top: -2rem;
    font-weight: 400;
    
}

li {
    background-color: #d0d0d0;
    color: #2a2a2a; 
    border-radius: 1rem;
    display: inline-flex;
    padding: 0.3rem 0.7rem;
    justify-content: center;
    align-items: center;
    gap:2rem;
}




.title{
    position: relative;
    /* padding: 10rem; */
    place-items: center;
    justify-content: center;
    margin: 0 auto;
    display: block;
    color:#ffffff;
    margin-top: 20rem;
    font-size: 2rem;
    margin-bottom: 20rem;

}



.block {
    font-family: 'Inter', Geneva, Tahoma, sans-serif;
}

.script {
    font-family: 'SF Mono', monospace;
    font-weight: lighter;
}


section:nth-child(1) { 
    color:#ffffff; 
    background: linear-gradient(to bottom, #000000, #0e0088);;
    padding: 4rem;
    padding-bottom: 14rem;}
    


.author{
    display: flex;
    /* display: inline-block; */
    color: #e5e5e5;
    font-family: 'SF Mono', monospace;
    font-size: 1rem;
    padding: 0.5rem 2rem;

 

    /* margin: 1rem auto;        
    margin-top: 7rem;      
    display: block;                 
    text-align: center;            
    max-width: max-content; */
}

.name {
    margin-right: 1rem;
}

.year{
    margin-top: 3rem;
    margin-left: 35rem;
}


blockquote {
    font-family: 'SF Mono', monospace;
    font-weight: lighter;
    inline-size: 8rem;
    padding-left: 5rem;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: left;   
    margin-top: 14rem;
    line-height: 1.6;
    margin-bottom: 10rem;
}



article {

font-family: 'SF mono';
inline-size: 25rem;
  font-weight: 200;
      
  margin: 0 auto;        
  text-align: left;   
  padding: 0 1.5rem;   
  padding-bottom: 5rem;
}

article p {
  inline-size: 34rem;
  font-size: 1.2rem;
  margin-left: -6rem;
  /* margin: 1.2rem 0; */
  line-height: 2;
  margin-top: 1rem;
  padding-top: 10rem;

}



.strip {
    font-family: 'roboto', sans-serif;
    font-weight: lighter;
    max-width: 45rem; 
    font-size: 1.2rem;
    color: #3E3335;
    text-align: left;
    margin: 0 auto;
    line-height: 1.6;
    padding: 0 1.5rem; 
    padding-bottom: 5rem;

}

.strip p {
    font-weight: 250;
    margin: 1.2rem 0;
    margin: 0 auto;
    line-height: 1.6;
    margin-top: 2rem;
    max-width: 70ch;

}





.end {
    text-align: center;
    font-size: 1rem;
    margin-bottom: -25.5rem;
    font-weight: 300;
    color: #EC7040;
}


.link {
    color:rgb(194, 170, 197);
}

.link:hover {
    color: #EC7040;
}

.rub{
    color: #EC7040;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
