@font-face {
    font-family: "Verona Serial";
    src: url("fonts/verona-serial/VeronaSerial-Medium.woff2") format("woff2");
    font-weight: 500;
    
}


:root {
    font-size: 100%;
    background-color: #F8F3E7;
    font-family: 'IBM Plex Mono', monospace;
    cursor: url("images/cursor.png") 0 0, auto !important;
 
}


.navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    width: 100%;
    height: 35px; 
    border: 2px solid #ffffff;
    position: sticky;
    top: 0;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color:  #e0e0e0;
}

@media (width > 600px) { 
    .navbar {
        height: 60px;
    }
    .nav-item {
        font-size: 20px;
}
}


.home {
    background-color: #F2CD50;
    color:#0f0f0f;
    border-right: 3px solid #ffffff;
}

.red {
    background-color: #CD3435;
      border-right: 3px solid #ffffff;
}

.green {
    background-color: #22A95A;
      border-right: 3px solid #ffffff;
}

.blue {
    background-color: #185AAD;}

.row {
    max-width:100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.label-title{
   font-size: 0.6rem;
    margin-left: 1.2rem;
    font-weight: 400;
    margin-top: 6rem;
    color: #22A95A;
}

.label-author{
    font-size: 0.6rem;
    margin-left: 1.2rem;
    font-weight: 400;
    margin-top: 2.5rem;
    color: #22A95A;
    
}

.label-quote{
    font-size: 0.6rem;
    margin-left: 1.2rem;
    font-weight: 400;
    margin-top: 9rem;
    color: #22A95A;
    
}

@media (width > 600px) { 
    .label-title { 
        margin-left: 10rem;
        font-size: 120%;
        margin-top: 13rem;
        
    }
    .label-author { 
        margin-left: 10rem;
         font-size: 120%;
        
    }
    .label-quote { 
        margin-left: 10rem;
        font-size: 120%;
        margin-top: 10rem;
    }
}

h1 {
    border-block-start: 1px dashed #22A95A;
    font-family: "Verona Serial", serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1;      
    max-inline-size: 100vw; 
    /* padding-top: 2rem; */
    margin-top: 5rem;
    text-align: left;
    color: #22A95A;
    margin-right: 1rem;
}

@media (width > 600px) { 
    h1 { 
        font-size: 7rem;
        margin-left: 24rem;
        margin-top: 10rem;
        inline-size: 60%;
    }
}


body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0rem;
}



.author{
    display: inline-block;
    color: #22A95A;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
              
}

@media (width > 600px) { 
    .author { 
        font-size: 1.6rem;
        margin-left: 24rem;
        margin-top: 2rem;

    }
}


#first-bq{
    font-weight: 600;
    font-size: 1rem;
    color: #22A95A;
    text-align: left;
    margin-left: 0rem;
    margin-top: 2rem;
    line-height: 1.6;
    margin-right: 1rem;
    border-block-start: 1px dashed #22A95A;
    border-block-end: 1px dashed #22A95A;
}

@media (width > 600px) { 
    #first-bq { 
        font-size: 1.6rem;
        margin-left: 24rem;
        margin-top: 4rem;
         inline-size: 60%;
    }
}

.link {
     text-decoration: underline;

}

#second-bq{
    border-inline-start:2px dashed #22A95A;
    padding-inline-start:2rem;
    margin-inline-start:1.5rem;
    inline-size: 85%;
    padding-left: 1rem;
    /* font-weight: 400; */
    font-size: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 500;
    color: #22A95A;
}

@media (width > 600px) { 
    #second-bq { 
        font-size: 1.2rem;
        margin-top: 4rem;
        /* inline-size: 60%; */
    }
}


p {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 5rem;
  line-height: 1.8;

} 

.body-text{
    font-weight: 400;
    /* font-size: 1.2rem; */
    margin-top:8rem;
    line-height: 1.6;
    text-align: left;
    margin-left: 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
}


@media (width > 600px) { 
    .body-text { 
        font-size: 17px;
        inline-size: 45%; 
        text-align: left;
        margin: 0 auto;
        hyphens: auto;
        margin-top: 15rem;
    }
}


.color-text{
    background-color: #22A95A;
    color: #F8F3E7;

}

.footer{
    background-color: #22A95A;
    margin-top: 20rem;
    padding: 5px 0;
    color: #F8F3E7;
}

* {
  cursor: url("../images/cursor.png") 0 0, auto !important;
}