@font-face {
    font-family: "Verona Serial";
    src: url("fonts/verona-serial/VeronaSerial-Medium.woff2") format("woff2");
    font-weight: 500;
    
}


:root {
    font-size: 130%;
    background-color: #F8F3E7;
    
}

.row {
    max-width:100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.label-title{
   
    margin-left: 2rem;
    font-weight: 400;
    margin-top: 15rem;
    color: #22A95A;
    
}

.label-author{
    margin-left: 2rem;
    font-weight: 400;
    margin-top: 3rem;
    color: #22A95A;
    
}

.label-blockquote{
    margin-left: 2rem;
    font-weight: 400;
    margin-top: 15rem;
    color:#22A95A;
    
}

.label-paragraph{
    margin-left: 2rem;
    font-weight: 400;
    margin-top: 15rem;
    color: #22A95A;
    
}
h1 {
    border-block-start: solid #000000 0.2rem;
    font-family: "Verona Serial", serif;
    font-weight: 500;
    font-size: 6rem;
    line-height: 1;      
    max-inline-size: 100vw; 
    padding-top: 2rem;
    margin-top: 10rem;
    text-align: left;
    color: #22A95A;
}

ol {
    font-family: helvetica;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    font-size: 1.2rem;
    max-width:100vw;
}


.left-bar {
    font-family: helvetica;
    display: flex;
    font-weight: bold;
}

.right-bar {
    font-family: helvetica;
    display: flex;
    gap: 1rem;
}



body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0rem;
}



.author{
    display: inline-block;
    color: #191919;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 15rem;
              
}

#first-bq{
    font-weight: 600;
    font-size: 1.9rem;
    color: #191919;
    text-align: left;
    margin-left: 0rem;
    margin-top: 4rem;
    line-height: 1.6;
    margin-right: 3rem;
    border-block-start: solid #3c3c3c 0.2rem;
    border-block-end: solid #3c3c3c 0.2rem;
}

#second-bq{
    border-inline-start:4px dashed #22A95A;
    padding-inline-start:2rem;
    margin-inline-start:3rem;
    inline-size: 85%;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 500;
}




p {
  text-align: left;
  margin-top: 5rem;
  margin-bottom: 5rem;
  line-height: 1.8;

} 

.body-text{
    font-weight: 400;
    font-size: 1.8rem;
    margin-top:15rem;
    line-height: 1.6;
    text-align: left;
    margin-left: 3rem;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.color-text{
    background-color:#22A95A;
    color: #F8F3E7;

}

